<html>
<h1>Contact Us</h1>
<body>
    <br>
    <h3>We Hope you had a great experience using our application and travelling to your favourite destinations</h3>
    <h3>Let us know more about your journey in feedback section.</h3>
    <br>
    <h3>Contact Us for more... <br><strong>Our Address: </strong><i> House No 343 Andheri , Mumbai Airoli near Marine Drive </i></h3>
    <h3>Contact Number - +91 8976543231</h3>
    <div class="container">
    </div>
    <!-- =========================================================================================================================================-->
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="../../assets/images/contact.png" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Khushi Kumari</h2>
                    <p class="title">Software Developer</p>
                    <p>Khushi has extra ordinary coding skills along with designing skills..</p>
                    <p>khushi@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../../assets/images/contact.png" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Indrani</h2>
                    <p class="title">Software Developer</p>
                    <p>Indrani has incredible designing skills as well as problem solving skills..</p>
                    <p>indrani@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../../assets/images/contact.png" alt="John" style="width:100%">
                <div class="container">
                    <h2>Divya Paliwal</h2>
                    <p class="title">Software Developer</p>
                    <p>Divya has great backend development skills along with problem solving skills.</p>
                    <p>divya@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../../assets/images/contact.png" alt="John" style="width:100%">
                <div class="container">
                    <h2>Priyanshi Purwar</h2>
                    <p class="title">Software Developer</p>
                    <p>Priyanshi has extra ordinary talent to solve problems in quick way.</p>
                    <p>priyanshi@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../../assets/images/contact.png" alt="John" style="width:100%">
                <div class="container">
                    <h2>Kratika</h2>
                    <p class="title">Software Developer</p>
                    <p>Kratika has incredible presentation skills along with designing skills.</p>
                    <p>kratika@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
